body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #6c7279;

    background-color: #fff;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0 0 10px;
}

/** Container
============================*/

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}


/** Header
============================*/

.header {
    width: 100%;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}

.header__inner {
    display: flex;
    padding: 38px 0;
    justify-content: space-between;
    border-bottom: 1px solid #505268;
    align-items: center;
}


/** Navigation
============================*/

.nav {
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
}

.nav__link {
    color: #fff;
    text-decoration: none;
    opacity: .75;
    margin-left: 60px;

    transition: opacity .1s linear;
}

.nav__link:first-child {
    margin-left: 0;
}

.nav__link:hover {
    opacity: 1;
}

/** Intro
============================*/

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 750px;
    padding-top: 103px;

    background: #2a2d48 url("../img/intro-bg.jpg") center no-repeat / cover;
}

.intro__inner {
    width: 100%;
    max-width: 970px;
    margin: 0 auto;
    text-align: center;
}

.intro__title {
    margin: 0 0 50px;
    font-family: 'Open Sans', sans-serif;
    font-size: 65px;
    line-height: 1.1;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
}

smoothing {
   text-shadow:-1px -1px 1px rgba(255,255,255,0.2), /* наверх и влево */
   1px 1px 1px rgba(255,255,255,0.2), /* вниз и вправо */
   1px 1px 1px rgba(0,0,0,0.7); /* тёмная тень */
}

.intro__subtitle {
    margin-bottom: 60px;
    font-size: 22px;
    line-height: 1.5;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: #fff;
}

/** Button
============================*/
.btn {
    display: inline-block;/*???*/
    vertical-align: top;
    padding: 14px 40px;
    border-radius: 2px;
    border: 0;
    cursor: pointer;
    font-family: inherit;
    font-size: 13px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}

.btn--red {
    background-color: #e84545;

}

.btn--red:hover {
    border-color: #dd3434;
}

/** Features
============================*/

.features {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    margin: 90px 0;
    flex-wrap: wrap;
}

.features__item {
    width: 33.33333%;
    padding: 0 45px;
    margin: 25px 0;

    text-align: center;
}

.features__icon {
    margin-bottom: 30px;
}

.features__title {
    margin-bottom: 25px;
    font-size: 14px;
    color: #2d3033;
    font-weight: 700;
    text-transform: uppercase;
}

.features__text {
    font-size: 14px;
    color: #6c7279;
    line-height: 1.5;
}

/** Works
============================*/

.works {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    max-width: 2200px;
}

.works__item {
    width: 25%;
    height: 350px;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    position: relative;
    overflow: hidden;
}

.works__item:hover .works__content {
    opacity: 1;
}

.works__photo {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;

    transform: translate3d(-50%, -50%, 0);
}

.works__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;

    opacity: 0;
    transition: opacity .2s linear;
    background-color: rgba(232, 69, 69, .9);

    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.works__title {
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
}

.works__text {
    font-weight: 400;
    color: #fff;
}


/** Team
============================*/

.team {
    margin: 100px 0 70px;
}

.team__inner {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.team__item {
    width: 25%;
    padding: 0 15px;
    margin-bottom: 30px;
}

.team__photo {
    display: block;
    max-width: 100%;
    height: auto;
}

.team__name {
    font-size: 22px;
    margin: 20px 0 8px 0;
    color: #2d3033;
}

.team__pos {
    font-size: 13px;
    text-transform: uppercase;
    color: #e84545;
    margin-bottom: 23px;
}

.team__text {
    font-size: 14px;
    line-height: 1.5;
    color: #6c7279;
    margin-bottom: 20px;
}

/** Social
============================*/

.social {
    display: flex;
}

.social__item {
    width: 40px;
    height: 40px;
    margin-right: 4px;

    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    border: 1px solid #e8ecee;

    transition: background .1s linear;
}

.social__item:hover {
    background-color: #e8ecee;
}

.social__item:hover .social__icon {
    fill: #000;
}

.social__icon {
    display: block;
    height: 18px;
    fill: #c6cacc;

    transition: fill .1s linear;
}

